<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Page</title>
</head>
<body>
    Hello world 2 his is just gon be run as text, like a python string, so thats pretty cool
    This used to be things that existed but we don't care about it anymore?
-->
{% extends 'base.html' %}. <!--Tells us to base this off of base.html   -->

{% block head %}   <!--Our own code will go here and it will build off of base.html with its own styling...-->
<title>Task Master</title>

{% endblock %}


{% block body %} <!--And content! (probably)-->
<div class="content"> <!--Naming it content to come back later and make it pretty......-->
    <h1>Task Master</h1> <!--A heading Wowoowwowowow-->

    {% if tasks|length < 1 %}  <!-- | is a syntax in whatever this language is, and length returns the number of items in the list.  -->
    <h4>There are no tasks. Create one below!</h4> <!--This will show only when there are 0 tasks.-->
    {% else %}
    <table> <!--Table tag because that exists-->
        <tr> <!--Every tr is a individual line-->
            <th>Task</th> <!--Table Header Tag-->
            <th>Added</th> <!--All of this will appear on one line-->
            <th>Actions</th>
        </tr>
        {% for task in tasks %} <!--This will run for every task in the database, also we don't need : for some reason-->
            <tr>
                <td>{{ task.content }}</td> <!--Double Curly braces are for variables from python-->
                <td>{{ task.date_created.date() }}</td> <!--date_created is a variable, .date() makes it return just the date.-->
                <td>
                    <a href="https://5000-amaranth-guan-g3tpf7y2.ws-us18.gitpod.io/delete/{{task.id}}">Delete</a>  <!--This link leads to the delete function, with task.id as the task we hit delete on.-->
                            <!--GITPOD SUCKS SO WE NEED TO UPDATE THIS LINK-->
                    <br>
                    <a href="https://5000-amaranth-guan-g3tpf7y2.ws-us18.gitpod.io/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %} <!--Since indenting is jacked in html, we have to specify the end of the for loop.-->
    </table>
    {% endif %} <!--Ends our if statement-->

    <form action="/template" method="POST"> <!--The '/template' refers to the webpage i want to take the input, i think. Post method allows us to send data-->
        <input type="text" name="content" id="content"> <!--This gives us a text box that we can take data from, id "content" allows us to reference this on a different page, namely python-->
        <input type="submit" value="Add Task"> <!--A button, pretty much. The value is what the button will say on it.-->
    </form>


</div>
<!--<h1>Template</h1> This should now appear on screen but we don't care anymore-->
{% endblock %}
<!--
    What's fun about this is while it seemed like a lot of work,
    this is all we have to do now for the rest of the website,
    assuming it follows the format of base.html.
    This means we can import things like stylesheets into 
    base.html and it will appear on every page.
    Nifty
-->